{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
   <div class="category_delete">
       <div class="h1">Are you sure you want to delete this?</div>
       {% include 'ordersapp/includes/inc_order_summary.html' %}
       <form action="{% url 'orders:order_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="delete">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'orders:orders_list' %}">Cancel</a>
       </button>
   </div>
{% endblock %}