<div class="header clearfix">
	<a href="/" class="logo"></a>
		<ul class="menu">
				{% for link in header_menu %}
					<li>
						<a href="{{ link.href }}" class="{% if request.resolver_match.url_name == link.href %}
									active {% endif %}">{{ link.name }}</a>
					</li>
				{% endfor %}
			{% if user.is_authenticated %}
			<li>
				<a href="{% url 'auth:edit' %}">{{ user.first_name|default:user.username }}</a>
			</li>
			<li>
				{% if basket %}
					<a href="{% url 'basket:view' %}">Basket</a>
				{% endif %}
			</li>
			{% endif %}
			<li>
				{% if user.is_authenticated %}
					<a href="{% url 'auth:logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'auth:login' %}">Login</a>
				{% endif %}
			</li>

			</ul>
	<a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>