{% extends 'authapp/base.html' %}

{% load static %}
{% block content %}
<div class="container mt-3">
    <h2> Login </h2>
     <form action="{% url 'auth:login' %}" method="post">
         {% csrf_token %}
         {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
         {% endif %}
         {{ login_form.as_p }}
         <button type="submit" class="btn btn-primary">Login</button>
         <a href="{% url 'auth:register' %}" class="btn btn-primary" role="button">Register</a>
         <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-primary">Use VK</a>
    </form>

</div>
{% endblock %}
